body{
    margin: 0;
    padding: 0;
}

h1{
    border: 2px solid;
    border-top-color: green;
    border-left-color: red;
    border-right-color: blue;
    border-bottom-color: yellow;
    width: 250px;
    margin: 30px auto;
    text-align: center;
    
}
img {
    border: 3px solid black;
    padding: 15px;
    margin: 30px 50px;
    
}
button{
    background-color: brown;
    color: whitesmoke;
    margin: 40px;
    padding: 15px;
    cursor: pointer;
} 
button:hover{
    background-color: black;
}
