@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.mastercard{
    width: 70px;
    height: 40px;
}
.chip-img{
    width: 130px;
    height: 80px;
    margin-right: -20px;
}
h3{
    font-size: 1.2rem;
    margin-left: 7px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 340px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/385/69/219/lightspeed-bw-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 580px;
    padding-left: 10px;
    border-radius: 25px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: -40px;
}
.upper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.number{
    text-align: left;
    margin-left: 40px;
}
h5{
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 300;
}
h6{
    margin-bottom: 35px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 300;
}
.bottom{
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

.date{
    display: flex;
    flex-direction: column;
}
.name{
    margin-left: -40px;
    font-size: 1.2rem;
}
