*{
    margin: 0;
    padding: 0;
    background-color: rgba(153, 207, 91, 0.438);
}
#main{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
