.first{
    color: darkblue;
}
.second{
    color: rgb(97, 40, 97);
}
.third{
    color: yellow;
}
.prvazagrada{
    color: red;
}
.drugazagrada{
    color: violet;
}
p{
    margin-top: 400px;
    margin-left: 200px;
    font-size: 40px;
}