.card{
    width: 600px;
    height: 300px;
    display: flex;
    border-bottom: 7px solid rgb(187, 171, 202);
    background-color: #ddebf8;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}
img{
    height: 200px;
    width: 250px;
}
body{
    display: flex;
    justify-content: center;
    font-size: 25px;
}