 tr, th, td {
    border: 2px solid rgb(236, 234, 123);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background-color: rgb(173, 165, 54);
    color: whitesmoke;
    cursor: pointer;
    
    
}
table, tr, th, td {
    border-spacing: 25px;

    
}
table{
    border: 5px double rgb(126, 255, 94);
    margin: 50px auto;

}
th {
    border-bottom: 3px solid black;
}

